<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         forceCoversAnnotation="false"
         beStrictAboutCoversAnnotation="false"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         verbose="true">
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <report>
            <html outputDirectory="coverage/report" lowUpperBound="35" highLowerBound="70"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="SmokeTests">
            <directory suffix="Test.php">tests/RomanNumeralsCalculator/SmokeTest</directory>
        </testsuite>
        <testsuite name="IntegrationTest">
            <directory suffix="Test.php">tests/RomanNumeralsCalculator/IntegrationTest</directory>
        </testsuite>
        <testsuite name="UnitTest">
            <directory suffix="Test.php">tests/RomanNumeralsCalculator/UnitTest</directory>
        </testsuite>
    </testsuites>
    <logging>
        <testdoxText outputFile="coverage/testdox.txt"/>
    </logging>
</phpunit>
